*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header{
  background-color: #FF090C;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.dropdown-menu{
  background-color: #FF090C;
}

.ItemListContainer{
  display: flex;
  margin-top: 1.25em;
}

.product-container{
  margin: auto;
  text-align: center;
}

.product-counter{
  display: flex;
  align-items: center;
  height: 30px;
  border: solid 1px black;
  border-radius: 5px;
}

.counter-button{
  padding: 0 10px;
  color: cornflowerblue;
  background-color: white;
  border: none;
}

.counter-p{
  margin: 0;
  padding: 0 30px;
}

.btn-addToCart{
  color: white;
  background-color: cornflowerblue;
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.disabled{
  opacity: 85%;
}
/* 



.Item-list{
  list-style: none;
  display: none;
  position: absolute;
  background-color: #FF090C;
  line-height: 45px;
  padding: 5px 15px;
  border-radius: 30px;
}
.List-link:hover>a{
  color: yellow;
}

.Link-order{
  background-color: black;
  padding: 7px 10px;
  border-radius: 6px;
}

.Header-nav>.Nav-link:hover>.Item-list{
  display:block;
} */
