*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppBar{
  background-color: #FF090C !important;
}

.Link{
  text-decoration: none;
}

.ShoppingCart{
  color: white;
}

#order-now{
  color: white;
  font-weight: bolder;
  background-color: black;
  padding: 3px 10px;
  border-radius: 30px;
}
#order-now:hover{
  transform: scale(1.1);
  transition: all .2s ease;
  box-shadow: 2px 0 5px 2px rgb(66,66,66);
}

#icon-menu{
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  z-index: 6;
  font-size: 45px;
}

.cont-menu{
  background-color: #FF090C;
  box-shadow: 2px 0 5px 2px rgb(66,66,66);
  width: 400px;
  border-radius: 10px;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
  z-index: 5;
}

.cont-menu ul{
  padding: 100px 0 20px 0;
  list-style: none;
}

.cont-menu ul li{
  padding: 10px 50px;
  margin: 0 20px;
  text-align: center;
  border-bottom: white solid 3px;
}

.cont-menu ul li p{
  font-size: 25px;
  color: white;
  font-weight: bolder;
}

.cont-menu ul li:hover{
  background-color: white;
}
.cont-menu ul li:hover p{
  color: #FF090C;
}

.active{
  transform: translate(-600px);
}
.opacity{
  background-color: rgba(0,0,0,0.5);
  transition: all 1s ease;
}