*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header{
  background-color: #FF090C;
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropdown-menu{
  background-color: #FF090C !important;
}

.Header{
  padding: 20px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100vh;
}
/* 



.Item-list{
  list-style: none;
  display: none;
  position: absolute;
  background-color: #FF090C;
  line-height: 45px;
  padding: 5px 15px;
  border-radius: 30px;
}
.List-link:hover>a{
  color: yellow;
}

.Link-order{
  background-color: black;
  padding: 7px 10px;
  border-radius: 6px;
}

.Header-nav>.Nav-link:hover>.Item-list{
  display:block;
} */
